
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
</head>
 <header style="display: none">
        <div class="header">
            <ul>
                <li>
                    <a href="/profile">Inicio</a>
                </li>
                <li>
                    <a href="/edit">Perfil</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </header>


    {{{body}}}
 